<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PushConfig.plist
   CustomAlertSoundsDemo

   Created by 李宁 on 15/12/25.
   Copyright (c) 2015年 lengmolehongyan. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>APS_FOR_PRODUCTION</key>
        <string>0</string>
        <key>CHANNEL</key>
        <string>Publish channel</string>
        <key>APP_KEY</key>
        <string>05ad43d45e65579226b9169a</string>
    </dict>
</plist>
